@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic,400,600");
@import url("font-awesome.min.css");

body.is-preload #header {
    opacity: 1;
}

    body.is-preload #header footer {
        -moz-transform: none;
        -webkit-transform: none;
        -ms-transform: none;
        transform: none;
        opacity: 1;
    }

html {
  background: url("../../images/bluepainting.jpg") no-repeat center center fixed;  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  opacity: 0;
  -webkit-transition: opacity 3.5s;
  -moz-transition: opacity 3.5s;
  -o-transition: opacity 3.5s;
  -ms-transition: opacity 3.5s;
  transition: opacity 3.5s;
}


html, body, h1, h2, h3, h4, h5, h6, p, div {
	margin: 0;
	padding: 0;
}

p {
    font-size: 2.5vh;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    display: flex;
    flex-direction: column;
}



h1, h2, h3, h4, h5, h6 {
    font-family: 'Philosopher', sans-serif;
}

h2 {
    font-size: 3vh;
}

.darkButton {
    border: 1px solid #fff;
    border-radius: 2vh;
    height: 3vh;
    width: 3vh;
    margin: 10vh 0vh;
    background: rgba(70, 20, 256, .4);
}

/*HEADER*/

#header {
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 35vh;
}

#mainHeader {
    width: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 77, 102, .7);
    box-shadow: rgba(0,0,0,0.2) 0px 2px 3px, inset rgba(0,0,0,0.2) 0px -1px 2px;
    border-radius: 0px 70px;
    padding: 2vh;
    height: 25%;
}



#header h1, h3 {
    display: flex;
    justify-content: center;
    color: #fff;
}

#header h1 {
    font-size: 6vh;
    margin: .3vh;
    padding-bottom: 1vh;
    border-bottom: 2px solid #fff;
}


#header h3 {
    font-size: 3.5vh;
    margin: .3vh;
    padding-top: 1vh;
    border-top: 2px solid #fff;
    text-transform: uppercase;
}

#firstBtn {
    margin-top: 30vh;
}


/*about*/

#about {
    background: teal url('../../images/banner3_abstract-art-artistic-background-325649.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 120vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#aboutHeader {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    font-size: 4vh;
    width: 45vh;
    background: rgba(139, 213, 218, .9);
    box-shadow: rgba(0,0,0,0.2) 0px 2px 3px, inset rgba(0,0,0,0.2) 0px -1px 2px;
    padding: 1vh;
    border-radius: 0px 70px;
}

#aboutHeaderText {
    display: flex;
    flex-direction: column;
    width: 18vh;
    margin-right: 3vh;
}

#bhtRight {
    font-size: 4vh;
    text-align: right;
    border-top: 1px double teal;
}

#aboutHeader img {
    border-radius: 8vh;
    height: 16vh;
    width: 16vh;
    margin-left: 0.2vh;
}

#aboutContent {
    background: rgba(139, 213, 218, .9);
    box-shadow: rgba(0,0,0,0.2) 0px 2px 3px, inset rgba(0,0,0,0.2) 0px -1px 2px;
    border-radius: 20px;
    margin: 1vh 2vh 0vh 2vh;
    padding: 2.5vh;
    border-radius: 0px 70px;
    font-size: 2vh;
}

.aboutSubTitle {
    margin-top: 2vh;
    font-family: 'Philosopher', sans-serif;
    font-size: 2.5vh;
}

#aboutChatter {
    margin-top: 1vh;
    font-family: 'Philosopher', sans-serif;
    text-align: right;
    padding-top: 1vh;
    border-top: 1px double teal;
}

#aboutChatter p{
    margin: 1vh 0vh 0vh 0vh;
}

#about a img {
    border: 1px solid #fff;
    border-radius: 2vh;
    height: 3vh;
    width: 3vh;
    margin-top: 3vh;
    background: rgba(82, 193, 200, .9);
}

/*projectS*/
#projects {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#projectsHeader {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    font-size: 4vh;
    color: #fff;
    background-color: rgba(0, 77, 102, .9);
    box-shadow: rgba(0,0,0,0.2) 0px 2px 3px, inset rgba(0,0,0,0.2) 0px -1px 2px;
    border-radius: 0px 70px;
    padding: 1vh;
    margin: 2vh 0vh;
    width: 20vh;
    border-radius: 0px 30px;
    font-size: 3.5vh;
}

.projectImg {
    width: 30vh;
    height: 100%;
}

#projects article{
    margin-top: 2vh;
}

.containerRight{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    min-height: 20vh;
}

#projects a {
    border: 5px solid teal;
}

.containerLeft{
    display: flex;
    flex-flow: row-reverse wrap;
    justify-content: center;
    min-height: 20vh;
}

.inner {
    width: 30vh;
    min-height: 20vh;
    background: #c5eaed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 5px solid teal;
}

#projects footer a {
    border: none;
}

#footer {
    background-color: rgba(0, 77, 102, .9);
    color: #fff;
    padding: 2vh 0vh;
}

#footer h2 {
    display: flex;
    justify-content: center;
}

.icons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-decoration: none !important;
    font-family: FontAwesome;
    list-style: none;
    text-align: center;
    padding-inline-start: 0;
    font-size: 4vh;
}


#footer a:hover {
    color: #35b88f;
    text-shadow: 0 0 0.5px rgba(69, 200, 159, 0.25);
    border-bottom-color: rgba(53, 184, 143, 0.5);
}

    .icon {
        margin: 0vh 4vh;
        color: #fff;
    }

		.icon > .label {
			display: none;
		}

.copyright{
    display: flex;
    justify-content: center;
}

.copyright p {
    font-size: 2vh;
}

